# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas

import numpy as np
import pandas as pd
from scipy import stats

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the data using Ironhack's database (db: employees, table: employees_advanced).

In [9]:
# Your code here:
chicago = pd.read_csv('/Users/erinberardi/Downloads/Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:

chicago.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ALLISON, PAUL W",LIEUTENANT,FIRE,F,Salary,NaN,$107790.00,NaN
1,"BRUNO, KEVIN D",SERGEANT,POLICE,F,Salary,NaN,$104628.00,NaN
2,"COOPER, JOHN E",LIEUTENANT-EMT,FIRE,F,Salary,NaN,$114324.00,NaN
3,"CRESPO, VILMA I",STAFF ASST,LAW,F,Salary,NaN,$76932.00,NaN
4,"DOLAN, ROBERT J",SERGEANT,POLICE,F,Salary,NaN,$111474.00,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [ ]:
# Your code here:

null_cols = chicago.isnull().sum()
null_cols

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [ ]:
# Your code here:

chicago['Salary or Hourly'].value_counts()

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [ ]:
# Your code here:
chicago['Department'].value_counts()
#chicago.pivot_table(index = ['Department'],values = ['Job Titles'],aggfunc = 'count')

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

### Ho = hourly wage = 30/hr
### H1 = hourly wage != 30/hr

In [ ]:
# Your code here:
hour_worker = chicago['Hourly Rate'].dropna()
hour_worker
hour_worker = hour_worker.str.replace("[$,]", "", regex=True)
hour_worker = hour_worker.astype(float)

In [ ]:
stat,pvalue = stats.ttest_1samp(hour_worker,30)
print('Stat_Score =  ',stat)
print('Pvalue =  ',pvalue)

### There is an EXTREMELY small pvalue, well under the threshhold of 0.05
### Therefore we can reject our null hypothesis that the hourly worker average is 30.  Due to the positive Stat_Score it is most likely above 30.  Let's check!

In [ ]:
hour_worker.mean()

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

### Ho = Salary is <= 86000
### H1 = Salary is > 86000

In [ ]:
#Your code here:

dept_sal = chicago[chicago['Department']=='POLICE']
cops = dept_sal['Annual Salary']

cops_sal = cops.dropna()


cops_sal = cops_sal.str.replace("[$,]", "", regex=True)
cops_sal = cops_sal.astype(float)
cops_sal

In [ ]:

stats_value, pvalue = stats.ttest_1samp(cops_sal,86000)
print('Stat_Score =  ',stat)
print('Pvalue =  ',pvalue/2)

### The p-value is below our threshhold of .05 and the Stat_Score is positive, so we can reject the null (Ho).
### Therefore it is more likely that the average salary is more than last year's average.  Again, let's check!

In [ ]:
cops_sal.mean()

Using the `crosstab` function, find the department that has the most hourly workers.

In [ ]:
# Your code here:
dept_hour = pd.crosstab(chicago['Department'],chicago['Salary or Hourly'])
dept_hour
most_hourly = dept_hour.loc[dept_hour['Hourly'] == dept_hour['Hourly'].max()]
most_hourly

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

###  If our hypothesis is less than, then to reject, the test statistic must also be negative.

### Ho = hourly wage is >= 35/hour
### H1 = hourly wage is < 35/hour

In [ ]:
# Your code here:

dept_wage = chicago[(chicago['Department']=='STREETS & SAN') & (chicago['Salary or Hourly']=='Hourly')]['Hourly Rate'].copy()

dept_wage = dept_wage.str.replace("[$,]", "", regex=True)
dept_wage = dept_wage.astype(float)
dept_wage
stats_value, pvalue = stats.ttest_1samp(dept_wage,35)
print('Stat_Score =  ',stats_value)
print('Pvalue =  ',pvalue/2)

### The one-sided ttest has a p-value well below .05, and the Stat_Score is negative.  Let's check the average.

In [ ]:
dept_wage.mean()

### This number doesn't look to be too far off of the mean.  Let's look at the distribution.

In [ ]:
dept_wage.describe()

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [ ]:
# Your code here:
# stats.t.interval(alpha = 0.95,              # Confidence level
#                  df= 24,                    # Degrees of freedom
#                  loc = sample_mean,         # Sample mean
#                  scale = sigma)             # Standard deviation estimate
# hour_worker = chicago['Hourly Rate'].dropna()
# hour_worker

con_level = 0.95
df = len(hour_worker)-1
mu = hour_worker.mean()
se = stats.sem(hour_worker)

conf_int = stats.t.interval(con_level,df,mu,se)
print('Confidence interval is between', conf_int)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [ ]:
# Your code here:
cops_sal

conf_level = 0.95
df = len(cops_sal)-1
mu = cops_sal.mean()
se = stats.sem(cops_sal)


conf_int_cop = stats.t.interval(conf_level,df,mu,se)
print('Confidence interval for police salary is between',conf_int_cop)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [ ]:
# Your code here: