# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas

import numpy as np
import pandas as pd
from scipy import stats

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the data using Ironhack's database (db: employees, table: employees_advanced).

In [2]:
# Your code here:
chicago = pd.read_csv('/Users/erinberardi/Downloads/Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:

chicago

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ALLISON, PAUL W",LIEUTENANT,FIRE,F,Salary,NaN,$107790.00,NaN
1,"BRUNO, KEVIN D",SERGEANT,POLICE,F,Salary,NaN,$104628.00,NaN
2,"COOPER, JOHN E",LIEUTENANT-EMT,FIRE,F,Salary,NaN,$114324.00,NaN
3,"CRESPO, VILMA I",STAFF ASST,LAW,F,Salary,NaN,$76932.00,NaN
4,"DOLAN, ROBERT J",SERGEANT,POLICE,F,Salary,NaN,$111474.00,NaN
...,...,...,...,...,...,...,...,...
32653,"ZYGOWICZ, PETER J",POLICE OFFICER,POLICE,F,Salary,NaN,$90024.00,NaN
32654,"ZYLINSKA, KATARZYNA",POLICE OFFICER,POLICE,F,Salary,NaN,$48078.00,NaN
32655,"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,F,Salary,NaN,$87006.00,NaN
32656,"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,F,Salary,NaN,$93354.00,NaN
32657,"ZYSKOWSKI, DARIUSZ",CHIEF DATA BASE ANALYST,DoIT,F,Salary,NaN,$115932.00,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
# Your code here:

null_cols = chicago.isnull().sum()
null_cols

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        24775
Annual Salary         7883
Hourly Rate          24775
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
# Your code here:

chicago['Salary or Hourly'].value_counts()

Salary    24775
Hourly     7883
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [6]:
# Your code here:
chicago['Department'].value_counts()
#chicago.pivot_table(index = ['Department'],values = ['Job Titles'],aggfunc = 'count')

POLICE                   12973
FIRE                      4800
STREETS & SAN             2194
OEMC                      2044
WATER MGMNT               1878
AVIATION                  1612
TRANSPORTN                1103
GENERAL SERVICES           972
PUBLIC LIBRARY             932
FAMILY & SUPPORT           621
FINANCE                    575
HEALTH                     516
LAW                        405
CITY COUNCIL               400
BUILDINGS                  266
COMMUNITY DEVELOPMENT      214
BUSINESS AFFAIRS           168
BOARD OF ELECTION          112
DoIT                       101
PROCUREMENT                 86
MAYOR'S OFFICE              85
CITY CLERK                  85
CULTURAL AFFAIRS            76
ANIMAL CONTRL               73
HUMAN RESOURCES             68
INSPECTOR GEN               63
IPRA                        56
BUDGET & MGMT               44
ADMIN HEARNG                38
DISABILITIES                29
TREASURER                   24
HUMAN RELATIONS             17
COPA                        17
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

### H0 = hourly wage = 30/hr
### H1 = hourly wage != 30/hr

In [7]:
# Your code here:
hour_worker = chicago['Hourly Rate'].dropna()
hour_worker
hour_worker = hour_worker.str.replace("[$,]", "", regex=True)
hour_worker = hour_worker.astype(float)

In [8]:
stat,pvalue = stats.ttest_1samp(hour_worker,30)
print('Stat_Score =  ',stat)
print('Pvalue =  ',pvalue)

Stat_Score =   21.003532193332216
Pvalue =   2.4048011351057683e-95

### There is an EXTREMELY small pvalue, well under the threshhold of 0.05
### Therefore we can reject our null hypothesis that the hourly worker average is 30.  Due to the positive Stat_Score it is most likely above 30.  Let's check!

In [9]:
hour_worker.mean()

32.86819231257292

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

### Ho = Salary is <= 86000
### H1 = Salary is > 86000

In [10]:
#Your code here:

dept_sal = chicago[chicago['Department']=='POLICE']
cops = dept_sal['Annual Salary']

cops_sal = cops.dropna()


cops_sal = cops_sal.str.replace("[$,]", "", regex=True)
cops_sal = cops_sal.astype(float)
cops_sal

1        104628.0
4        111474.0
7        104628.0
8         96060.0
9         53076.0
           ...
32652     48078.0
32653     90024.0
32654     48078.0
32655     87006.0
32656     93354.0
Name: Annual Salary, Length: 12941, dtype: float64

In [11]:

stats_value, pvalue = stats.ttest_1samp(cops_sal,86000)
print('Stat_Score =  ',stat)
print('Pvalue =  ',pvalue/2)

Stat_Score =   21.003532193332216
Pvalue =   2.4100985740030478e-36

In [12]:
con_level = 0.95
df = len(cops_sal)-1
mu = cops_sal.mean()
se = stats.sem(cops_sal)

conf_int = stats.t.interval(con_level,df,mu,se)
print('Confidence interval is between', conf_int)

Confidence interval is between (87549.78923170577, 88122.26146607645)

### The p-value is below our threshhold of .05 and the Stat_Score is positive, so we can reject the null (Ho).
### Therefore it is more likely that the average salary is more than last year's average.  Again, let's check!

In [13]:
cops_sal.mean()

87836.02534889111

Using the `crosstab` function, find the department that has the most hourly workers.

In [14]:
# Your code here:
dept_hour = pd.crosstab(chicago['Department'],chicago['Salary or Hourly'])
dept_hour
most_hourly = dept_hour.loc[dept_hour['Hourly'] == dept_hour['Hourly'].max()]
most_hourly

Salary or Hourly  Hourly  Salary
Department
STREETS & SAN       1873     321

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

###  If our hypothesis is less than, then to reject, the test statistic must also be negative.

### Ho = hourly wage is >= 35/hour
### H1 = hourly wage is < 35/hour

In [15]:
# Your code here:

dept_wage = chicago[(chicago['Department']=='STREETS & SAN') & (chicago['Salary or Hourly']=='Hourly')]['Hourly Rate'].copy()

dept_wage = dept_wage.str.replace("[$,]", "", regex=True)
dept_wage = dept_wage.astype(float)
dept_wage

57       35.60
73       20.77
76       35.60
85       36.21
88       35.60
         ...
32582    35.60
32623    35.60
32624    36.21
32631    21.43
32637    36.21
Name: Hourly Rate, Length: 1873, dtype: float64

In [16]:
stats_value, pvalue = stats.ttest_1samp(dept_wage,35)
print('Stat_Score =  ',stats_value)
print('Pvalue =  ',pvalue/2)

Stat_Score =   -7.172610090911691
Pvalue =   5.276243152130208e-13

### The one-sided ttest has a p-value well below .05, and the Stat_Score is negative.  Let's check the average.

In [17]:
dept_wage.mean()

34.06726641751145

### This number doesn't look to be too far off of the mean.  Let's look at the distribution.

In [18]:
dept_wage.describe()

count    1873.000000
mean       34.067266
std         5.627938
min        19.500000
25%        35.600000
50%        35.600000
75%        36.210000
max        53.100000
Name: Hourly Rate, dtype: float64

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [19]:
# Your code here:
# stats.t.interval(alpha = 0.95,              # Confidence level
#                  df= 24,                    # Degrees of freedom
#                  loc = sample_mean,         # Sample mean
#                  scale = sigma)             # Standard deviation estimate
# hour_worker = chicago['Hourly Rate'].dropna()
# hour_worker

con_level = 0.95
df = len(hour_worker)-1
mu = hour_worker.mean()
se = stats.sem(hour_worker)

conf_int = stats.t.interval(con_level,df,mu,se)
print('Confidence interval is between', conf_int)

Confidence interval is between (32.60050319432687, 33.135881430818976)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [20]:
# Your code here:
cops_sal

conf_level = 0.95
df = len(cops_sal)-1
mu = cops_sal.mean()
se = stats.sem(cops_sal)


conf_int_cop = stats.t.interval(conf_level,df,mu,se)
print('Confidence interval for police salary is between',conf_int_cop)

Confidence interval for police salary is between (87549.78923170577, 88122.26146607645)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [21]:
#create hourly pay table

In [28]:
# Your code here:
from statsmodels.stats.proportion import proportions_ztest
# H0: p = p0
# H1: p != p0

# z = (p-p0) / √p0(1-p0)/n
# p: observed sample proportion: len(chicago)
# p0: hypothesized population proportion: 25%
# n: sample size: number of hourly workers: len(hour_worker): 7883

7883

In [24]:
proportions_ztest(count=len(hour_worker), # p0
                  nobs=len(chicago),
                  value=0.25)
# pvalue lower than alpha -> rejecting H0 
# -> enough evidence to reject that the number of hourly workers 
#     in the City of Chicago is significantly different from 25%
# Negative Stat signifies it is less than 25%

(-3.6401610358268113, 0.0002724675813939414)